.logo-container {
  z-index: 0;
  width: 600px;
  height: 609px;
  position: absolute;
  top: 0;
  right: 12%;
  bottom: 0;
  left: auto;
  margin: auto;
  opacity: 0;

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    z-index: 1;
  }
}
