.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 830px;
  top: 20px;
  img {
    width: 650px;
    height: 150px;
    animation: lightSpeedInRight 1s 1.8s backwards;

    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    &:not(:last-child) {
      margin-bottom: 55px;
    }
  }
}
.email {
  color: red;
}
